@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}
/* Workbench */
#workbenchPageContent {
  max-width: 100%;
}

.ControlZone--emphasisBackground,
.CanvasZoneContainer {
  background-color: transparent !important;
}

.content_3f3fd3c2,
.CanvasZone {
  padding: 0 !important;
  max-width: 100% !important;
}

.ToolbarButtonTooltip {
  display: none;
}

.Canvas {
  margin: 0 !important;
}
/* Workbench */
.banner-section {
  position: relative;
}
.banner-image {
  width: 100%;
  background: transparent;
  height: 400px;
  background-position: center;
  background-size: cover;
}
.banner-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 400px;
}
.banner-caps {
  color: #fff;
  font-size: 42px;
  font-weight: 700;
  letter-spacing: 2px;
}
.right {
  width: 300px;
  background: #fff;
  height: 95%;
  margin: 8px 8px 8px auto;
  padding: 16px 16px 0 16px !important;
}
.left {
  display: flex;
  align-items: flex-end;
  margin-bottom: 20px;
  margin-left: 20px;
}
.right .carousel {
  height: 100%;
}
.right .carousel-indicators li {
  width: 6px !important;
  height: 6px !important;
  background-color: #b1b1b1 !important;
  border-radius: 50%;
}
.right .carousel-indicators li.active {
  width: 8px !important;
  height: 8px !important;
  background-color: #8a8a8a !important;
}
.carousel-indicators {
  align-items: center;
}
.right .carousel-caption {
  color: #000;
  position: static !important;
  text-align: left;
  padding: 10px 0 !important;
}
.caro-slogo {
  background: url(../Images/SLogo.png);
  background-position: center;
  background-size: cover;
  width: 30px;
  height: 30px;
  margin-top: 10px;
}
.caro-image {
  height: 140px;
  width: 180px;
}
.caro-image img {
  height: 140px;
  width: 180px;
}
/* .right {
  max-width: 20% !important;
} */
.carousel-control-prev,
.carousel-control-next {
  display: none !important;
}
.right .carousel-caption h3 {
  color: #b38c58;
  font-size: 16px;
  font-weight: 700;
}
.right .carousel-caption p {
  font-style: italic;
  margin-bottom: 0;
  font-size: 12px;
}
.btn-theme-lg {
  background: #b38c58 !important;
  border-radius: 0 !important;
  border: none !important;
  margin-left: auto !important;
  padding: 5px 10px !important;
  font-size: 14px !important;
  color: #fff !important;
}

@media screen and (max-width: 768px) {
  .left {
    display: none;
  }
  .banner-image {
    background: none;
    height: 350px;
  }
  .banner-img {
    display: none;
  }
  .right {
    margin: auto;
    width: 90%;
    height: 350px;
    padding: 40px;
    background: #f9f3eb;
    /* margin: 10px; */
  }
}
@media screen and (max-width: 642px) {
  .tile-header {
    height: 60px;
  }
  .tile-btn-section .btn-sm {
    font-size: 10px !important;
  }
}
.tile-section {
  margin-top: 20px;
}

.tile-section .col-sm-12,
.col-md-6,
.col-lg-3,
.col-xl-4 {
  padding: 10px !important;
}
.tile-section .tile {
  width: 100%;
  padding: 12px;
  transition: transform 0.2s;
  box-shadow: 0px 0px 5px 1px rgba(137, 137, 137, 0.64);
  -webkit-box-shadow: 0px 0px 5px 1px rgba(137, 137, 137, 0.64);
  -moz-box-shadow: 0px 0px 5px 1px rgba(137, 137, 137, 0.64);
}
.tile-section .tile:hover {
  transform: scale(1.02);
}
/* Test */
.tile-title-section {
  display: flex;
  /* padding: 10px; */
}
.tile-section .tile-header h2 {
  font-size: 18px;
  color: #b38c58;
  font-weight: 700;
  margin-bottom: 0 !important;
}
.tile-section .tile-logo {
  background: url(../Images/SLogo.png);
  background-position: center;
  background-size: cover;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.tile-section .row {
  margin: auto !important;
}
.btn-primary {
  background-color: #b38c58 !important;
  color: #fff !important;
  border-color: #b38c58 !important;
  border-radius: 0 !important;
}
.btn-secondary {
  color: #7a7a7a !important;
  border: 1px solid #7a7a7a !important;
  background: transparent !important;
  border-radius: 0 !important;
}
.tile-btn-section .btn-sm {
  font-size: 12px !important;
}
.tile-btn-section button {
  margin: 0 5px !important;
}
.tile-header {
  height: 45px;
  margin-bottom: 14px;
}
@media screen and (max-width: 1280px) {
  .tile-btn-section button {
    margin: 1px 1px !important;
  }
  .tile-btn-section .btn-sm {
    font-size: 10px !important;
  }
}
button.btn {
  cursor: pointer !important;
}
.modal-dialog.capacity-modal {
  max-width: 600px !important;
}
.modal-header button {
  display: none;
}
.capacity-modal {
  margin: auto;
}
/* .modal-title{
  margin:auto;
} */
.modal-title {
  color: #b38c58;
  font-weight: bold;
  font-size: 20px;
}
.modal-content {
  border-radius: 0 !important;
}
.cur-user-info {
  margin-bottom: 20px;
}
.user-dp {
  margin-left: 6px;
  border-radius: 50%;
}
.modal-header {
  border-bottom: none !important;
}
.modal-footer {
  padding: 0 32px 20px 32px !important;
  border-top: none !important;
}
.modal-body {
  padding: 0 32px !important;
}
.status-btn {
  text-align: center;
  padding: 24px 20px;
  margin: 20px 0 0 0;
  box-shadow: 0px 0px 5px 1px rgba(137, 137, 137, 0.64);
  -webkit-box-shadow: 0px 0px 5px 1px rgba(137, 137, 137, 0.64);
  -moz-box-shadow: 0px 0px 5px 1px rgba(137, 137, 137, 0.64);
}
.btn-status {
  width: 100px;
  margin: 0 8px;
}

.btn-status.btn-full {
  background: transparent;
  color: #ff7a7a;
  border: 1px solid #ff7a7a;
}
.btn-status.btn-full.active {
  color: #fff;
  background: #ff7a7a;
}
.btn-status.btn-medium {
  background: transparent;
  color: #ffbb54;
  border: 1px solid #ffbb54;
}
.btn-status.btn-medium.active {
  color: #fff;
  background: #ffbb54;
}
.btn-status.btn-low {
  background: transparent;
  color: #63d86f;
  border: 1px solid #63d86f;
}
.btn-status.btn-low.active {
  color: #fff;
  background: #63d86f;
}
.btn-status.btn-off {
  background: transparent;
  color: #7a7a7a;
  border: 1px solid #7a7a7a;
}
.btn-status.btn-off.active {
  color: #fff;
  background: #7a7a7a;
}
.status-btn-notes {
  color: #3b6394;
  font-style: italic;
  margin-bottom: 20px;
  font-size: 12px;
}
.capacity-modal textarea {
  height: 100px !important;
  border-radius: 0;
  resize: none;
}
.client-intake-modal label,
.capacity-modal label {
  color: #b38c58;
}
/* Alertify CSS */
.alertify-notifier.ajs-right .ajs-message.ajs-visible {
  background: tomato;
  color: #fff;
}
.table-capacity-full {
  width: 140px;
  text-align: center;
  background: #ff7a7a;
  font-size: 14px;
  padding: 6px;
  color: #fff;
}
.table-capacity-medium {
  width: 140px;
  text-align: center;
  background: #ffbb54;
  font-size: 14px;
  padding: 6px;
  color: #fff;
}
.table-capacity-low {
  width: 140px;
  text-align: center;
  background: #63d86f;
  font-size: 14px;
  padding: 6px;
  color: #fff;
}
.table-capacity-off {
  width: 140px;
  text-align: center;
  background: #7a7a7a;
  font-size: 14px;
  padding: 4px;
  color: #fff;
}
.dash-dp {
  margin-right: 10px;
  border-radius: 50%;
}
.rdt_Pagination {
  justify-content: center !important;
}
#column-name,
#column-billable,
#column-nonbillable,
#column-capacitylevel {
  font-weight: 700;
  font-size: 16px;
  color: #797979 !important;
}
.rdt_TableHeadRow,
.rdt_TableRow:not(:last-of-type),
.rdt_TableRow {
  border-bottom: 1px solid #797979 !important;
}
div[data-tag="allowRowEvents"] {
  font-size: 14px !important;
  font-weight: 600 !important;
}
.search-input {
  border-radius: 0 !important;
  height: 30px !important;
  font-size: 14px !important;
}
.search-div {
  width: 300px !important;
  margin-left: auto !important;
}
.datatable-section {
  width: 90%;
  margin: auto;
}
.dashboard-head {
  display: flex;
  width: 90%;
  margin: auto;
  flex-wrap: wrap;
}
.summary-head {
  width: 90%;
  margin: auto;
}
.dashboard-head h3,
.summary-head h3 {
  color: #b38c58;
}
.nav-back {
  width: 40px;
  height: 40px;
  background: url(../Images/backnav.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 20px;
  cursor: pointer !important;
}
.rdt_TableHeader {
  display: none !important;
}
.ppicker-input {
  /* width: 100%; */
  align-self: center;
  /* margin-right: 12px; */
}
.filter-row {
  width: 90%;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.startDate,
.endDate {
  display: flex;
  align-items: center;
  /* margin: 0 12px; */
}
.filter-row input#rdp-form-control-startdatepicker,
.filter-row input#rdp-form-control-enddatepicker {
  border-radius: 0 !important;
  height: 30px !important;
}
.filter-row label {
  width: 120px;
  font-weight: bold;
  margin: 0 !important;
}
.btn-theme-secondary {
  color: #b38c58 !important;
  background: #ece8e3 !important;
  /* border: none !important; */
  border-color: #ece8e3 !important;
  border-radius: 0 !important;
}
.ppicker-input .ms-BasePicker-text {
  border-radius: 0 !important;
  border-color: #ced4da !important;
}
button.btn.btn-primary.btn-generate,
button.btn.btn-theme-secondary {
  height: 30px !important;
  padding: 0.15rem 0.75rem !important;
  margin: 0 6px;
}
.piechart-section h2 {
  text-align: center;
  color: #b38c58;
}

@media screen and (max-width: 768px) {
  /* .CapSummaryPPickerStyle {
    width: 100%;
  } */
  .btn-status {
    margin: 6px;
  }
  .status-btn {
    margin: 0;
  }
  .dashboard-head,
  .datatable-section {
    width: 100%;
  }
  .filter-row > div {
    margin-bottom: 14px;
    width: 100%;
  }
  .alertify-notifier.ajs-bottom {
    /* bottom: 10px; */
    top: 10px;
  }
}

/* Copied css */

.radio-stylish {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
.radio-element,
.checkbox-element {
  width: 20px;
  height: 20px;
  display: inline-block;
  border: 1px solid #ccc;
  background: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 10px;
  position: absolute;
}
.checkbox-element {
  -webkit-border-radius: 0%;
  -moz-border-radius: 0%;
  border-radius: 0%;
}
.stylish-label {
  padding-left: 25px;
  position: relative;
  z-index: 1;
}
/* .form-group {
  position: relative;
}
.input-group {
  height: 36px;
} */
.radio-element:before,
.checkbox-element:before {
  width: 8px;
  height: 8px;
  background: transparent;
  position: absolute;
  left: 5px;
  right: 5px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  display: none;
  content: "";
  top: 5px;
}
.checkbox-element:before {
  width: 12px;
  height: 12px;
  top: 4px;
}

input[type="radio"]:checked + .radio-element:before,
input[type="radio"]:checked ~ .radio-element:before {
  display: block;
  background: #333;
}

input[type="checkbox"]:checked + .checkbox-element:before,
input[type="checkbox"]:checked ~ .checkbox-element:before {
  background: url("../../ExternalRef/images/tick.png") no-repeat center;
  display: block;
  background-size: 14px;
}

.validation-message {
  display: none;
  margin: 0;
}
.message-sucess {
  display: block;
  color: #5cb85c;
}
.message-failure {
  color: #ce4844;
  display: block;
}
.forms-required label:after {
  content: "*";
  display: inline-block;
  position: relative;
  top: -3px;
  color: red;
}
/* .form-group label {
  display: block;
  text-align: left;
  font-weight: 900;
  font-size: 14px;
  line-height: 25px;
  margin: 10px 0;
  color: #6e6e6e;
  letter-spacing: 1px;
}
.form-control {
  color: #b4955f;
  margin: 0 auto;
  padding: 0 15px;
  height: 35px;
  font-weight: 600;
  line-height: 35px;
  background-color: #f9f9f9;
  border-radius: 0;
  font-size: 14px;
  letter-spacing: 1px;
  outline: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
} */
.label-bold {
  font-weight: 500 !important;
}
.form-control-datepicker {
  background: url("../../ExternalRef/images/date-pick.png") no-repeat 98% center;
  background-size: 20px;
}
/* .form-control {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
} */

/* alertify*/
.alertify .ajs-modal {
  z-index: 999999 !important;
}
.alertify .ajs-dialog {
  top: 40px;
  font: 14px/20px BlissLight, Arial;
}
.alertify .ajs-header {
  background-color: #313e47 !important;
  color: #fff;
  padding: 8px 24px;
}
.alertify-notifier.ajs-top {
  top: 80px !important;
}
.ajs-button {
  background: #b4955f; /*#0078d4;*/
  border-color: #b4955f; /*0078d4;*/
  border-radius: 5px;
  color: #fff;
  padding: 10px 0;
  text-align: center;
  margin: 0 10px 15px !important;
  font: 15px "BlissPro-Bold", Arial;
  width: 110px;
  outline: none;
}
.ajs-button:hover {
  background: #b4955f; /*#0078d4;*/
  border-color: #b4955f; /*#0078d4;*/
}
.ajs-button.ajs-cancel {
  background: #53545e;
  border-color: #53545e;
}
.ajs-button.ajs-cancel:hover {
  background: #53545e;
  border-color: #53545e;
}
.alertify .ajs-commands button.ajs-close {
  margin-top: 7px;
}
.alertify-notifier .ajs-message.ajs-error {
  background-color: #f01818;
  color: #fff;
  margin-top: 10px;
  white-space: nowrap;
}
.alertify .ajs-body .ajs-content {
  padding: 16px 0;
}
.custom-file {
  display: flex;
  align-items: center;
}
.custom-file-input {
  opacity: 0;
}
.star {
  color: red;
}
a {
  cursor: pointer;
}
.custom-file-label {
  position: absolute;
  left: 0;
  right: 0;
  height: 36px;
  line-height: 32px;
  padding-left: 15px;
  padding-right: 15px;
  border: 1px solid #ccc;
  top: 0;
}
.custom-file-label:before {
  position: absolute;
  right: -66px;
  padding-left: 10px;
  padding-right: 10px;
  top: 0;
  bottom: 0;
  background: #dd4b39;
  color: #fff;
  content: "Browse";
}
#lst-contact-details {
  margin-bottom: 15px;
}
/* table.dataTable thead th,
table.dataTable thead td {
  background-color: #f9f9f9;
  color: #b4955f;
}
.dataTables_wrapper .dataTables_filter input {
  border-color: #b4955f;
  height: 30px;
}
table.dataTable thead .sorting_asc {
  background-image: url("../images/sort_asc.png");
}
table.dataTable thead .sorting_desc {
  background-image: url("../images/sort_desc.png");
}
table.dataTable tbody tr.even {
  background-color: rgba(180, 149, 95, 0.15);
}
.dataTable {
  padding-top: 7px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  background: #fff;
  border-color: #333;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
  padding: 0;
  line-height: 22px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  background: #b4955f !important;
  color: #fff !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.previous,
.dataTables_wrapper .dataTables_paginate .paginate_button.next {
  padding: 0 3px;
  min-width: 40px;
}
th.dt-center,
td.dt-center {
  text-align: center;
} */
#btnfinal {
  top: 7px;
}
/* .btn-primary {
  color: #fff;
  background-color: #b4955f;
  border: none;
  line-height: 30px;
  text-align: center;
  font-size: 14px;
  padding: 0 25px;
  border-radius: 0;
  font-weight: 500;
  overflow: hidden;
  position: relative;
}
.btn-primary:before {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  width: 0%;
  height: 100%;
  z-index: -1;
  background-color: #9a743f;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  transition: 0.5s all;
}
.btn-primary:hover {
  background-color: #9a743f;
  color: #ffffff;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  transition: 0.5s all;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: none;
}
.btn-primary:focus,
.btn-primary.focus {
  outline: none;
  background-color: #9a743f;
  color: #ffffff;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn-primary:hover:before {
  width: 100%;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  transition: 0.5s all;
} */
.button-text {
  position: relative;
  z-index: 1;
}

#lst-contact-details a {
  color: #dd4b39 !important;
  text-decoration: none;
  color: #dd4b39 !important;
  text-decoration: none;
  /* margin-left: 10px; */
  background: #fff;
  width: 22px;
  height: 24px;
  border-radius: 50%;
  border: 2px solid;
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
  margin-top: 5px;
}
.cross-pos {
  position: absolute;
}

.page-heading {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
.pageHeader,
.pageTitle,
.commSite {
  display: none;
}
/* .input-group {
  width: calc(100% - 65px);
} */
.contactPhoneNumber {
  width: calc(100% - 35px);
  display: inline-block;
}
.tab-content input {
  border: 1px solid #f5f5f5;
}

.btnDiv {
  float: right;
  margin: 16px 0 0 0;
}

.quantityFilesContainer {
  position: absolute;
  left: 0;
  right: 0;
}
.quantityFilesContainer-static {
  position: static;
}
.quantityFiles {
  display: inline;
  padding-left: 10px;
  padding-right: 10px;
}

.quantityFiles .upload-filename {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}
.clsRemove,
.clsothersRemove {
  color: #ff6347;
  display: inline-block;
  font-weight: 400;
  font-size: 14px;
  vertical-align: middle;
}
.contactPhoneNumber.form-control,
.contactEmail.form-control {
  width: 100%;
}
.goods-label,
.goodsresult {
  margin: 0;
}
.modal-footer {
  margin-top: 18px;
}
.icon-action {
  width: 20px;
  height: 20px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  margin-right: 10px;
}
.icon-view {
  background-image: url(../images/icon-view.png);
  background-size: contain;
}
.icon-edit {
  background-image: url(../images/icon-edit.png);
  background-size: contain;
}
.icon-save {
  background-image: url(../images/archive.png);
  background-size: contain;
}
.ControlZone-control {
  min-height: 480px;
}
.body-hidden {
  overflow: hidden;
  height: 100%;
}
.cross-pos {
  position: absolute;
}

.remove-icon,
.add-icon {
  position: absolute;
  top: 0;
  right: 10px;
  padding-left: 5px;
  padding-right: 5px;
  height: 38px;
  width: 30px;
  border-radius: 0%;
}
.add-icon {
  right: 16px;
}
.custom-alert {
  padding: 5px;
}
.custom-list-group .list-group-item {
  background-color: transparent;
  padding: 5px;
  border: none;
}

.CanvasComponent.LCS .row .col-common {
  padding-left: 8px;
  padding-right: 8px;
}

.modal-dialog.modal-lg.modal-clientintake .modal-body {
  padding-right: 30px;
  padding-left: 30px;
}
.ajs-message.ajs-error.ajs-visible {
  width: 350px !important;
}

.alertify-notifier.ajs-right .ajs-message.ajs-visible {
  right: 350px !important;
}
.ajs-message.ajs-error.ajs-visible {
  white-space: break-spaces !important;
}
.SignParaDiv.form-control,
.SignClient.form-control,
.Adverse.form-control,
.nonAdverse.form-control,
.SignAdverse.form-control {
  width: calc(100% - 76px) !important;
  margin: 0;
}
.SignParaDiv .remove-icon {
  right: 10px !important;
}

.modal-clientintake .modal-content {
  border-radius: 0;
}
.modal-clientintake .form-group {
  display: flex;
}
.modal-clientintake .form-group .add-icon,
.modal-clientintake .form-group .remove-icon {
  position: relative;
  margin-left: 5px;
  top: 0;
  left: 0;
}
.btn-conflict-close {
  background-color: #ffffff !important;
  color: #9a743f !important;
}
.btn-conflict-check {
  color: #fff !important;
  background-color: #b4955f !important;
}

.user-table table {
  width: 70%;
  margin: auto;
}
.user-table table thead th {
  padding: 10px;
  background: #dc2829 !important;
  color: #fff !important;
}

/* .user-table tr:nth-child(odd) {
  background: #faf3e7 !important;
 }
 .user-table tr:nth-child(even) {
  background: #fff !important;
 } */
.user-table th {
  background: #faf3e7 !important;
}
.user-table table,
.user-table th,
.user-table td {
  border: 1px solid #bcbcbc;
  border-collapse: collapse;
}
.user-table td {
  white-space: break-spaces;
  width: 150px;
  padding: 10px;
}

.user-table table thead tr {
  background-color: #b4955f !important;
}

/* Maasi */
/*! workbench */
#workbenchPageContent {
  left: -30px !important;
  max-width: 1364px !important;
}
/* workbench */
.MStar {
  color: tomato;
  font-size: 20px;
}
.mandatoryInfo {
  padding-right: 15px;
  margin-bottom: 20px;
}
.mand {
  position: relative;
}
.mand::after {
  content: "*";
  color: tomato;
  font-size: 20px;
  position: absolute;
  top: -20px;
  right: 0px;
}
.header-sec {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logoSec {
  width: 200px;
  height: 70px;
  background: url(../images/AdseroBlack.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.modal-dialog.client-intake-view-modal {
  max-width: 700px !important;
}
.user-table {
  margin: auto;
}
.user-table th {
  padding: 12px;
  color: #b4955f;
}
/* .viewlabels {
  width: 70%;
  margin: auto;
} */

.btn-Close {
  color: #b4955f;
  border: #b4955f;
  line-height: 30px;
  text-align: center;
  font-size: 14px;
  padding: 0 25px;
  border-radius: 0;
  font-weight: 500;
  overflow: hidden;
  position: relative;
}
/* 
/* Maasi */

.modal-clientintake .form-group {
  width: 100%;
}

button#btnCreate {
  margin-bottom: 12px;
}
div#Client_filter {
  margin-top: -10px;
}
.ajs-header h4 {
  font-size: 14px;
}
.ajs-header {
  display: none;
}

.ajs-button {
  color: #fff;
  background-color: #b4955f;
  border: none;
  line-height: 30px;
  text-align: center;
  font-size: 14px;
  padding: 0 25px;
  border-radius: 0;
  font-weight: 500;
  /* text-transform: uppercase; */
  overflow: hidden;
  position: relative;
}
.ajs-button:before {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  width: 0%;
  height: 100%;
  z-index: -1;
  background-color: #9a743f;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  transition: 0.5s all;
}
.ajs-button:hover {
  background-color: #9a743f;
  color: #ffffff;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  transition: 0.5s all;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: none;
}
.ajs-button:focus,
.ajs-button.focus {
  outline: none;
  background-color: #9a743f;
  color: #ffffff;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.ajs-button:hover:before {
  width: 100%;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  transition: 0.5s all;
}
.ajs-content {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  margin-top: 60px;
  position: relative;
}
/* .ajs-primary.ajs-buttons {
  padding-right: 20px;
} */
.ajs-content::before {
  content: "";
  position: absolute;
  background: url(../images/SuccessGreen.png);
  background-size: cover;
  background-position: center;
  width: 40px;
  height: 40px;
  top: -37px;
  left: 44%;
}

/*multi-select*/

.multi-select-container {
  display: inline-block;
  position: relative;
}

.multi-select-menu {
  position: absolute;
  left: 0;
  top: 0.8em;
  float: left;
  min-width: 100%;
  background: #fff;
  margin: 1em 0;
  padding: 0.4em 0;
  border: 1px solid #aaa;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  display: none;
}

.multi-select-menu input {
  margin-right: 0.3em;
  vertical-align: 0.1em;
}

.multi-select-button {
  display: inline-block;
  font-size: 0.875em;
  padding: 0.2em 0.6em;
  max-width: 20em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: -0.5em;
  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  cursor: default;
}

.multi-select-button:after {
  position: absolute;
  right: 10px;
  top: 12px;
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0.4em 0.4em 0 0.4em;
  border-color: #999 transparent transparent transparent;
  margin-left: 0.4em;
  vertical-align: 0.1em;
}

.multi-select-container--open .multi-select-menu {
  display: block;
}

.multi-select-container--open .multi-select-button:after {
  border-width: 0 0.4em 0.4em 0.4em;
  border-color: transparent transparent #999 transparent;
}

.filter-div {
  display: inline-flex;
  align-items: center;
  position: relative;

  left: 175px;
  top: 15px;
}
.multi-select-button:after {
  margin-left: 6.4em;
}
span.multi-select-button {
  width: 170px;
  height: 30px;
  border-radius: 0;
  padding: 6px 10px;
  border: 1px solid #9a743f;
  position: relative;
}
.filter-div label {
  margin-right: 5px;
}

.multi-select-menu {
  z-index: 100;
  padding: 8px;
}
div#Client_length {
  top: -50px;
}
div#Client_length select {
  border-radius: 0;
}

/* nishanth */
.form-group {
  margin-bottom: 12px !important;
  width: 100%;
  /* border-radius: 0 !important; */
}
.modal-dialog {
  max-width: 800px !important;
}
.Adverse.form-control,
.nonAdverse.form-control,
.SignAdverse.form-control,
.SignClient.form-control,
.SignParaDiv.form-control {
  width: calc(100% - 38px) !important;
  margin: 0;
}
.mandatoryInfo {
  padding-right: 15px;
  margin-bottom: 5px !important;
}
.mandatoryInfo.text-right.pr-1 {
  margin-left: 10px;
}

button#btnClient,
#btnAdverse {
  right: 16px;
}
button#btnSignAdverse,
#btnnonAdverseDel {
  right: 16px;
}

.addicon {
  background-image: url(../Images/addicon.png);
  height: 15px;
  width: 15px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  right: 6px;
  top: 11px;
}
.removeicon {
  background-image: url(../Images/removeicon.png);
  height: 20px;
  width: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  right: 12px;
  top: 9px;
}
button.btn.btn-primary.remove-icon {
  margin-right: 10px;
}
.form-control {
  border-radius: 0 !important;
}

.alert.alert-warning.custom-alert ul li .glyphicon-ok::before {
  content: "✓";
  /* color: green; */
}

.alert.alert-warning.custom-alert ul li .glyphicon-remove::before {
  content: "X";
  /* color: red; */
}

.alert.alert-warning.custom-alert .col-common.col-sm-12.form-group.mand {
  margin-bottom: 0 !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  cursor: not-allowed !important;
}
.mandatoryInfo label {
  margin-bottom: 0 !important;
}
.col-common input::placeholder {
  color: #cacaca;
}
.potential-client-sec {
  width: 100%;
}
.dashboard-head .dropdown {
  left: 247px;
}
.row.goods-details {
  padding-bottom: 15px !important;
}
h5 {
  font-size: 1rem !important;
}
.ajs-button.ajs-cancel {
  color: #7a7a7a !important;
  border: 1px solid #7a7a7a !important;
  background: transparent !important;
  border-radius: 0 !important;
}
.btn-light {
  background: transparent !important;
  color: #7a7a7a;
  border-color: #d3d9df !important;
  border-radius: 0 !important;
  padding-right: 22px !important;
  padding-bottom: 1px !important;
  padding-top: 3px !important;
  padding-left: 19px !important;
}

.alertify .ajs-footer .ajs-buttons.ajs-primary {
  display: flex;
  flex-direction: row-reverse;
}
button.btn.dropdown-toggle.btn-light {
  width: 200px;
}
p.goodsresult {
  line-break: anywhere;
}
/* .ag-cell.ag-cell-not-inline-editing.ag-cell-auto-height.ag-cell-value.ag-cell-wrap-text {
  line-height: 1;
} */

@media screen and (max-width: 360px) {
  .tile-title-section {
    margin-bottom: 16px;
    height: 63px;
  }

  button.btn.btn-sm.btn-primary {
    margin: 4px !important;
  }
  .col-1.col-sm-1.text-center {
    align-self: center;
  }
  /* .modal-body {
    margin-left: -58px;
  } */
  .dashboard-head {
    margin-left: 0px;
  }
  .dashboard-head h3,
  .summary-head h3 {
    color: #b38c58;
    margin-left: 20px;
    font-size: 20px;
  }
  .search-div.input-group {
    margin-left: 10px !important;
    /* margin-right: 31px !important; */
    margin-bottom: 10px;
  }
  button.btn.dropdown-toggle.btn-light {
    margin-bottom: 5px !important;
    margin-left: 10px !important;
  }
  .dashboard-head .dropdown {
    left: 0px !important;
  }
  .dropdown {
    width: 222px;
  }
 
  .ragylogo{
    width: 96px!important;
    height: 58px !important;
    margin-top: 10px;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: contain;

}


 

}

@media screen and (max-width: 414px) and (min-width: 362px) {
  .dropdown {
    width: 290px;
    left: 0px !important;
    margin-bottom: 12px;
  }
  .search-div.input-group {
    width: 100%;
    margin-bottom: 12px;
  }
  input.search-input.form-control-lg.form-control {
    width: 100%;
  }
  .ragylogo{
    width: 96px!important;
    height: 58px !important;
    margin-top: 10px;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: contain;
}

}
@media screen and (max-width: 601px) and (min-width: 414px) {
  .dropdown {
    width: 457px;
    left: 0px !important;
    margin-bottom: 12px;
  }
  .search-div.input-group {
    width: 100% !important;
    margin-bottom: 12px;
  }
  input.search-input.form-control-lg.form-control {
    width: 100% !important;
  }

.ragylogo{
   width: 96px;
    height: 58px;
    margin-top: 10px;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: contain;

}
}
.banner-image .carousel-indicators {
  margin-bottom: 0;
}
.ag-theme-alpine .ag-cell,
.ag-theme-alpine .ag-full-width-row .ag-cell-wrapper.ag-row-group {
  line-height: 20px !important;
}
/* .modal-title {
  margin: auto;
} */
.view-table-sec {
  width: 100%;
  overflow-x: scroll;
}
input#rdp-form-control-dashstartdatepicker {
  height: 29px;
  margin-bottom: 10px;
}
.dashboard-head h3 {
  padding-right: 60px;
}
.modal-header-section{
  display: flex;
  justify-content: space-between;
  margin-left: 15px;
}
.ragylogo{
  background-image: url(../Images/AdseroBlacknew.png);
  /* position: absolute; */
  margin-top: 10px;
  width: 200px;
  height: 54px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

